@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap'); 
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}
html{
    font-size: 62.5%;
}
/* body{
    
} */
:root{
    --primary-color: #0008f9;
    --primary-shades: #000119;
    --para-color: #b3b3b3;
    --helper-color: #4d52fb;
    --white: #fff;
}
a{
    text-decoration: none;
    display: inline-block;
    /* color: #000119; */
}
img{
    display: inline-block;
    width: 100%;
}
li{
    list-style: none;
}
h1,h2,h3,h4{
    color: var(--primary-color);
}
.para{
    font-size: 1.6rem;
    line-height: 1.7;
    font-weight: 400;
    color: var(--para-color);
}
.header{
    height: 9.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 5.4rem;
}
.logo{
    font-size: 2rem;
    font-weight: bold;
}
/* .navbar{

} */
.navbar-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    font-size: 1.5rem;
    transition: all 0.3s linear;
}
.navbar-list .navbar-btn{
    padding: 1.2rem 2.4rem;
    background-color: var(--white);
    border: 1px solid var(--helper-color);
    color: var(--helper-color);
    transition: all 0.3s ease-in-out;
}
.navbar-list .navbar-link:hover,
.navbar-list .navbar-link:active{
    color: var(--helper-color)
}
.navbar-btn:hover, .navbar-btn:active{
    background-color: var(--helper-color);
    color: var(--white);
}
.navbar-link{
    text-transform: uppercase;
}
.mobile-nav-icon{
    font-size: 4.8rem;
    color: var(--primary-color);
}
.mobile-navbar-btn{
    display: none;
}
.mobile-nav-icon[name='close']{
    display: none;
}

.section{
    padding: 9.6rem 0;
}
.grid{
    display: grid;
    gap: 9.6rem;
}
.grid-two-column{
    grid-template-columns: repeat(2, 1fr);
}
.hero-data .btn{
    font-size: 1.6rem;
    text-transform: capitalize;
    padding: 1.6rem 2.4rem;
    background-color: var(--primary-shades);
    color: var(--white);
    transition: all 0.3s linear;
}
.hero-data .btn:hover{
    background-color: var(--helper-color);
    color: var(--white);
}
.container{
    max-width: 110rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}
.section-hero{
    position: relative;
}
.section-hero::before{
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 12%;
    right: 0;
    width: 30%;
    height: 40%;
    background: #cccccc;
    z-index: -1;
}
.primary-heading{
    font-size: 6rem;
    font-weight: 700;
}
.section-hero .para{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.hero-icons{
    margin-top: 4.2rem;
}
.hero-icons .icon{
    font-size: 6.4rem;
    position: relative;
}
.hero-icons .icon::after{
    content: '';
    position: absolute;
    right: 0%;
    top: 0%;
    height: 60%;
    width: 60%;
    background-color: var(--helper-color);
    border-radius: 10rem;
    z-index: -1;
    opacity: 0.7;
}
.para{
    font-size: 1.8rem;
}
.hero-icons h2{
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.hero-icons .hero-icon-style p{
    font-size: 1.5rem;
    line-height: 1.6;
    margin: 0%;
    color: var(--para-color);
}
.image{
    border-radius: 2rem;
}
.hero-image{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;

}
.hero-image img{
    height: 100%;
    box-shadow: 0 0 10rem 0 rgba(0, 0, 0, 0.1);

}
.hero-image-overlay{
    position: absolute;
    bottom: 0;
    left: -10%;
    background-color: var(--primary-shades);
    padding: 2rem;
    border-radius: 2rem;
}
.hero-image-overlay .para{
    font-size: 1.6rem;
}
.hero-image-overlay .para:nth-child(2){
    margin: 0;
    font-weight: bold;
}
.hero-image-overlay .para:last-child{
    margin: 0;
}
/* programming-skills*/
.programming-skills{
    margin-bottom: 6rem;
}
.skills{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12rem;
}
.angular{
    color: #a6120d ;
}
.html{
    color: #f06529 ;
}
.css{
    color: #2965f1 ;
}
.js{
    color: #f0db4f ;
}
/* programming-skillsend */

/* education-details */
.education-details{
    display: contents;

    gap: 5rem;
}
.education-details .pg{
    padding: 2rem 2rem;
    background-color: rgba(0, 0, 0, 0.9);
    border: 0.2rem solid var(--helper-color);
    border-radius: 2rem;
    margin-bottom: 2rem;
}
.education-details .pg:hover{
    border: 0.3rem solid crimson;
    transition: all .5s ease-in-out;
    transform: scale(1.1);
}
.education-details .ug:hover{
    border: 0.3rem solid crimson;
    transition: all .5s ease-in-out;
    transform: scale(1.1);

}

.education-details .ug{
    padding: 2rem 2rem;
    background-color: rgba(0, 0, 0, 0.9);
    border: 0.2rem solid var(--helper-color);
    border-radius: 2rem;
    margin-bottom: 2rem;

}
.education-details .pg .edu-title{
    color: var(--white);
    font-size: 4rem;
}
.education-details .ug .edu-title{
    color: var(--white);
    font-size: 4rem;
}
.education-details .ug .edu-institude{
    color: lightcyan;
    font-size: 3rem;
}
.education-details .pg .edu-institude{
    color: lightcyan;
    font-size: 2rem;
}
.education-details .pg .score{
    color: lightgoldenrodyellow;
    font-size: 1.7rem;
}
.education-details .ug .score{
    color: lightgoldenrodyellow;
    font-size: 1.7rem;
}
/* education-details end */
/* contact */
.contact{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.contact-grid{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact-icon{
    font-size: 10rem;
}
.contact-icon-2{
    font-size: 9rem;
}
.mail{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.calling{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact-title{
    font-size: 2.5rem;
    color: var(--primary-shades);
}

.contact-mail{
    font-size: 2.5rem;
    color: var(--para-color);
}
.contact-call{
    font-size: 2.5rem;
}

.contact-grid .mail:hover{
    color: red;
    transition: all .5s ease-in-out;
}
.contact-grid .calling:hover{
    color: green;
    transition: all .5s ease-in-out;
}
/* contact end */
/* footer */
.footer-intro{
    color: var(--primary-shades);
}
.footer-body{
    background-color: var(--primary-shades);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.5rem;
}
.footer-text{
    font-size: 1.8rem;
}
.social-media{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}
.footer-body .social-media a{
    font-size: 3rem;
}
.footer-text {
    color: var(--helper-color);
}
.whatsapp{
    color: green;
}
.instagram{
    color: red;
}
.linkedin{
    color: var(--helper-color);
}
.footer-intro{
    color: var(--white);
}
.footer-body .social-media .part2 a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    opacity: 0.7;
}
.footer-body .social-media .part2 a:hover,
.footer-body .social-media .part2 a:active{
    opacity: 1;
}
/* footer end */

/* media query */
@media (max-width:1250px){
    .container{
        padding: 0.6rem;
    }
    html{
        font-size: 56.25%;
    }
}
@media (max-width:980px){
    .container{
        max-width:90rem;
        padding: 0.6rem;
    }
    html{
        font-size:56.25%;
    }
.section-hero .grid-two-column{
    grid-template-columns: 1fr;
}
.hero-icons .grid-two-column{
    grid-template-columns: 1fr 1fr;
}
.hero-image .para{
    font-size: 2.4rem;
}
.section-hero::before{
    bottom: 6.1%;
}
}
@media (max-width:768px){
    .container{ 
        max-width:60rem; 
        padding: 0.6rem;
    }
    .section-hero::before{
        bottom: 7.1%;
        height: 25%;
    }
    .hero-image .para{
        font-size: 1.9rem;
    }
    .navbar{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;

        display: flex;
        justify-content: center;
        align-items: center;

        transform: translateX(100%);
        transition: all 0.3s linear;

        opacity: 1;
        visibility: visible;
        pointer-events: none;
    }
    .navbar .navbar-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .navbar .navbar-link{
        color: var(--white);
    }
    .mobile-navbar-btn{
        display: block;
        z-index: 11;

    }
    .active .navbar{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateX(0);
        z-index: 10;
    }
    .active .mobile-navbar-btn .mobile-nav-icon[name="close"]{
        display: block;
    }
    .active .mobile-navbar-btn .mobile-nav-icon[name="menu"]{
        display: none;
    }
}
@media (max-width:425px){
    html{
        padding: 1.6rem;
    }
    .container{
        max-width:420px;
        
    }
    .hero-image img{
        width: 80%;
    }
    .hero-image .hero-image-overlay{
        width: 89%;
        left: 1%;
        padding: 1rem 1rem;
        transform: translateY(20%);
    }
    .hero-image .hero-image-overlay .para{
        font-size: 1.5rem;
    }
    .section-hero::before{
        bottom: 5.5 rem;
        height: 20%;
    }

}